{% extends 'base.html.twig'%}
{% block title %}  Aricles{% blockend %}

{% block content %}
<h1>index.html</h1>
<h2>my name is {{name}}</h2>
{% if articles %}
<table>
    <th>Article Title</th>
    {% for article in articles %}
    <tr>
        <td>{{article}}</td>
    </tr>
    {% endfor %}
</table>
{% else  %}
    <p>No articles</p>
{% endif %}
{% endblock %}