<div class="container">
        <a href="../" class="navbar-brand md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" dideo-checked="true">Bootswatch</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" data-toggle="dropdown" href="#" id="themes" dideo-checked="true">Themes <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../default/" dideo-checked="true">Default</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../cerulean/" dideo-checked="true">Cerulean</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../cosmo/" dideo-checked="true">Cosmo</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../cyborg/" dideo-checked="true">Cyborg</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../darkly/" dideo-checked="true">Darkly</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../flatly/" dideo-checked="true">Flatly</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../journal/" dideo-checked="true">Journal</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../litera/" dideo-checked="true">Litera</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../lumen/" dideo-checked="true">Lumen</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../lux/" dideo-checked="true">Lux</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../materia/" dideo-checked="true">Materia</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../minty/" dideo-checked="true">Minty</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../pulse/" dideo-checked="true">Pulse</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../sandstone/" dideo-checked="true">Sandstone</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../simplex/" dideo-checked="true">Simplex</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../sketchy/" dideo-checked="true">Sketchy</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../slate/" dideo-checked="true">Slate</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../solar/" dideo-checked="true">Solar</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../spacelab/" dideo-checked="true">Spacelab</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../superhero/" dideo-checked="true">Superhero</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../united/" dideo-checked="true">United</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../yeti/" dideo-checked="true">Yeti</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../help/" dideo-checked="true">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="https://blog.bootswatch.com" dideo-checked="true">Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" data-toggle="dropdown" href="#" id="download" dideo-checked="true">Cyborg <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="download">
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" target="_blank" href="https://jsfiddle.net/bootswatch/q0gdqa1q/" dideo-checked="true">Open in JSFiddle</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../4/cyborg/bootstrap.min.css" download="" dideo-checked="true">bootstrap.min.css</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../4/cyborg/bootstrap.css" download="" dideo-checked="true">bootstrap.css</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../4/cyborg/_variables.scss" download="" dideo-checked="true">_variables.scss</a>
                <a class="dropdown-item md-opjjpmhoiojifppkkcdabiobhakljdgm_doc" href="../4/cyborg/_bootswatch.scss" download="" dideo-checked="true">_bootswatch.scss</a>
              </div>
            </li>
          </ul>

        </div>
      </div>